footer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    background-color: rgb(39, 245, 245);
}
footer .first-col{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding:2vw 5vw;
    line-height: 30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    width: 60%;
}
footer .second-col{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    width: 40%;
}
footer .second-col a{
    text-decoration: none;
    color: black;
    transform: .3s all ease;
}
footer .second-col a:not(:nth-child(1)){
    margin-left: 10%;
}

footer .second-col a:hover{
    text-decoration: underline;
}
footer #copyright{
    width: 100%;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

@media (max-width:1055px){
    footer .first-col{
        font-size:1.3vw;
    }
    footer .first-col img{
        width: 300px;
    }
    footer .second-col{
        font-size: 1.3vw;
    }
}
@media (max-width:800px){
    footer .first-col{
        font-size:1.5vw;
    }
    footer .first-col img{
        width: 250px;
    }
    footer .second-col{
        font-size: 1.5vw;
    }
}
@media (max-width:615px){
    footer .first-col{
        width: 100%;
        font-size:100%;
    }
    footer .second-col{
        width: 100%;
        font-size:100%;
        margin-bottom:18px;
    }
}
@media (max-width:422px){
    footer .first-col{
        width: 100%;
        font-size:80%;
    }
    footer .second-col{
        width: 100%;
        font-size:80%;
        margin-bottom:18px;
    }
}
@media (max-width:340px){
    footer .first-col{
        width: 100%;
        font-size:60%;
    }
    footer .second-col{
        width: 100%;
        font-size:60%;
        margin-bottom:18px;
    }
}
@media (max-width:665px){
    footer #copyright{
        font-size:2vw;
    }
}
@media (max-width:450px){
    footer #copyright{
        font-size:2.3vw;
    }
}